<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/main :: head(~{::title})}">
    <title>Задачи</title>
</head>
<body>
<th:block th:replace="~{fragments/main :: menu('none')}"></th:block>

<div class="container">
    <h1>Создание задачи</h1>
    <div class="alert alert-danger" role="alert" th:if="${hasAlert}">
        Не удалось выполнить операцию, попробуйте изменить данные или повторить попытку.
    </div>
    <form th:action="@{/tasks/create}" th:object="${task}" method="post">
        <div class="mb-3">
            <label for="inputTitle" class="form-label">Название</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp" required
                   th:field="*{title}">
            <div id="titleHelp" class="form-text">Введите название задачи</div>
        </div>
        <div class="mb-3">
            <label for="selectCategory">Категории</label>
            <select class="form-select" id="selectCategory" size="3" multiple required
                    aria-label="Select categories task" aria-describedby="categoryHelp">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                    Категория
                </option>
            </select>
            <div id="categoryHelp" class="form-text">Выберите категории задачи</div>
        </div>
        <div class="mb-3">
            <label for="selectPriority" class="form-label">Приоритет</label>
            <select class="form-select" id="selectPriority" aria-describedby="priorityHelp"
                    aria-label="Select priority task" th:field="*{priority.id}" required>
                <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}">Важно
                </option>
            </select>
            <div id="priorityHelp" class="form-text">Выберите приоритет задачи</div>
        </div>
        <div class="mb-3">
            <label for="textareaDescription" class="form-label">Описание</label>
            <textarea class="form-control" id="textareaDescription" rows="3" required
                      aria-describedby="descriptionHelp" th:field="*{description}"></textarea>
            <div id="descriptionHelp" class="form-text">Введите описание задачи</div>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
        <a th:href="@{/tasks}" class="btn btn-primary" role="button">Вернуться</a>
    </form>
</div>

<th:block th:replace="~{fragments/main :: libsBeforeEndBody}"></th:block>
</body>
</html>