<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/main :: head(~{::title})}">
    <title>Задачи</title>
</head>
<body>
<th:block th:replace="~{fragments/main :: menu('tasks')}"></th:block>

<div class="container">
    <h1>Задачи</h1>
    <a th:href="@{/tasks/create}" class="btn btn-primary" role="button">Добавить задание</a>
    <h2>Список заданий</h2>
    <div>
        <span>Фильтр:</span>
        <ul class="list-inline">
            <li class="list-inline-item"><a th:href="@{/tasks}">Все</a></li>
            <li class="list-inline-item"><a th:href="@{/tasks/done}">Выполненные</a></li>
            <li class="list-inline-item"><a th:href="@{/tasks/new}">Новые</a></li>
        </ul>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Статус</th>
            <th scope="col">Название</th>
            <th scope="col"><i class="bi bi-arrow-down"></i> Создана</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <th scope="row" th:text="${task.id}">1</th>
            <td>
                <i th:if="${task.done}" class="bi bi-check-square text-success"></i>
                <i th:if="not ${task.done}" class="bi bi-square text-danger"></i>
            </td>
            <td><a th:href="@{/tasks/{taskId}(taskId=${task.id})}" th:text="${task.title}">Задача</a></td>
            <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}">21.08.2023 13:37</td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="~{fragments/main :: libsBeforeEndBody}"></th:block>
</body>
</html>