<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/main :: head(~{::title})}">
    <title>Задачи</title>
</head>
<body>
<th:block th:replace="~{fragments/main :: menu('home')}"></th:block>

<div class="container">
    <h1>Задача: <span th:text="${task.title}">Название задачи</span></h1>
    <div class="alert alert-danger" role="alert" th:if="${hasAlert}">
        Не удалось выполнить операцию, попробуйте изменить данные или повторить попытку.
    </div>
    <div>
        <div>
            <a th:href="@{/tasks}" class="btn btn-primary mb-2" role="button">Вернуться к списку задач</a>
        </div>
        <form th:action="@{/tasks/{id}/set-status(id=${task.id})}" method="post" class="d-inline"
              th:if="not ${task.done}" onsubmit="return confirm('Отметить данную задачу выполненной?');">
            <input type="hidden" name="done" value="true">
            <button type="submit" class="btn btn-success mb-2">Выполнена</button>
        </form>
        <form th:action="@{/tasks/{id}/set-status(id=${task.id})}" method="post" class="d-inline" th:if="${task.done}"
              onsubmit="return confirm('Отметить данную задачу не выполненной?');">
            <input type="hidden" name="done" value="false">
            <button type="submit" class="btn btn-warning mb-2">Не выполнена</button>
        </form>
        <a th:href="@{/tasks/{id}/edit(id=${task.id})}" class="btn btn-primary mb-2" role="button">Редактировать</a>
        <div class="float-end">
            <form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post" class="d-inline"
                  onsubmit="return confirm('Вы уверены, что хотите удалить?');">
                <button type="submit" class="btn btn-danger mb-2">Удалить</button>
            </form>
        </div>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <tbody>
        <tr>
            <th scope="row">Идентификатор</th>
            <td th:text="${task.id}">Значение</td>
        </tr>
        <tr>
            <th scope="row">Название</th>
            <td th:text="${task.title}">Значение</td>
        </tr>
        <tr>
            <th scope="row">Создана</th>
            <td th:text="${#temporals.format(task.created,'dd.MM.yyyy HH:mm')}">Значение</td>
        </tr>
        <tr>
            <th scope="row">Статус</th>
            <td th:if="${task.done}" class="text-success"><b>Выполнена</b></td>
            <td th:if="not ${task.done}" class="text-danger"><b>Не выполнена</b></td>
        </tr>
        </tbody>
    </table>
    <h2>Описание</h2>
    <p th:text="${task.description}">Текст задачи</p>
</div>

<th:block th:replace="~{fragments/main :: libsBeforeEndBody}"></th:block>
</body>
</html>