<!doctype html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/main :: head(~{::title})}">
    <title>Задачи</title>
</head>
<body>
<th:block th:replace="~{fragments/main :: menu('none')}"></th:block>

<div class="container">
    <h1>Регистрация пользователя</h1>
    <form th:action="@{/users/registration}" th:object="${user}" method="post">
        <div class="mb-3">
            <label for="inputName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" th:field="*{name}" required>
            <div id="nameHelp" class="form-text">Введите имя, которое будет отображаться в системе.</div>
        </div>
        <div class="mb-3">
            <label for="inputLogin" class="form-label">Логин</label>
            <input type="text" class="form-control" id="inputLogin" aria-describedby="loginHelp" th:field="*{login}" required>
            <div id="loginHelp" class="form-text">Введите логин, который будет использоваться для входа в систему.</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" aria-describedby="passwordHelp"
                   th:field="*{password}" required>
            <div id="passwordHelp" class="form-text">Введите надежный пароль для входа в вашу учетную запись.</div>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a class="btn btn-secondary" role="button" th:href="@{/users/login}">Войти</a>
    </form>
</div>

<th:block th:replace="~{fragments/main :: libsBeforeEndBody}"></th:block>
</body>
</html>